@import "../../index.scss";

.intro {
  background-color: $clr-white;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;

  .intro__img-container {
    .intro__img {
    }
  }
}
