@import "../../index.scss";

.intro {
  background-color: $clr-white;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;

  .intro__img {
    height: 400px;
  }
  .intro__name {
    color: rgb(29, 180, 190);
  }
}
