@import "../../../index.scss";

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: $font-lrg;
    margin: 0;
  }

  p {
    font-size: $font-sml;
    margin-bottom: 0;
    max-width: 6em;
  }
}
