.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
}
