.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    top: 100px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 100px);
      scroll-snap-align: start;
    }
  }
}

// .section__title {
//   margin-bottom: 0.25em;
// }

// .section__subtitle {
//   margin: 0;
//   font-size: var(--fs-h3);
// }

// .section__title--intro {
//   font-weight: var(--fw-reg);
// }

// .section__subtitle--intro,
// .section__subtitle--about {
//   background: var(--clr-accent);
//   font-family: var(--ff-secondary);
// }
