.app {
  height: 100vh;

  .sections {
    overflow: scroll;
    height: calc(100vh - 90px);
    width: 100%;
    position: relative;
    top: 90px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; //firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 90px);
      scroll-snap-align: start;
    }
  }
}
