*,
*::before,
*::after {
  box-sizing: border-box;
}

$clr-nav: #303841;
$clr-white: #ffffff;
$clr-black: #000000;
$fontRegular: 300;
$fontBold: 400;
$font-lrg: 4.5rem;
$font-md: 3rem;
/* Custom Properties */

body {
  overflow: hidden;
}

h2 {
  font-size: $font-md;
}
