*,
*::before,
*::after {
  box-sizing: border-box;
}

$clr-white: #ffffff;
$clr-grey-light: #cccccc;
$clr-grey: #333333;
$clr-black: #000000;
$clr-accent: #9d4141;
$clr-accent-lite: #8f0b0b;
$fontRegular: 300;
$fontBold: 400;
$font-lrg: 4.5rem;
$font-md: 3rem;
/* Custom Properties */

body {
  overflow: hidden;
}

h2 {
  font-size: $font-md;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

i {
  font-size: 1.5em;
  color: inherit;
}
