@import "../../index.scss";
.nav {
  background-color: white;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  transition: all 1s ease;
  z-index: 3;
  border-bottom: 1px solid rgb(240, 240, 240);

  .wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
  }

  // LEFT SECTION OF NAVBAR
  .nav-left {
    overflow: hidden;
    .logo {
      margin-left: 1em;
      letter-spacing: 0.3em;
      font-size: 1.5em;
      font-family: "Shadows Into Light", cursive;
      color: $clr-accent;
    }
  }

  // RIGHT SECTION OF NAVBAR
  .nav-right {
    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @media only screen and (min-width: 600px) {
        display: none;
      }

      span {
        width: 100%;
        height: 3px;
        background-color: $clr-accent;
        transform-origin: left;
        transition: all 2s ease;
      }
    }
    .links {
      a,
      i {
        margin-right: 3em;
        &:hover {
          color: $clr-accent;
          cursor: pointer;
        }
        &.active {
          color: $clr-accent;
        }
      }

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  // MOBILE ACTIVE STATE
  &.active {
    background-color: $clr-accent;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
