@import "../../../index.scss";

.list {
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;

  li {
    margin-right: 50px;
    padding: 0.6em;
    cursor: pointer;
    border-radius: 8px;

    &.active {
      background-color: $clr-accent;
      color: $clr-white;
      &:hover {
        color: $clr-white;
      }
    }

    &:hover {
      color: $clr-accent;
    }
  }
}
